{% extends 'base.html' %} 

{% block title %}Кіру - FM Studio{% endblock title %}

{% load static %} 

{% comment %} CSS ↓ {% endcomment %}
{% block externalCSS %}
<link rel="stylesheet" href="{% static 'style/user/auth/common.css' %}">
{% endblock externalCSS %} 


{% comment %} HTML ↓ {% endcomment %}
{% block bodyContent %}
<div class="log-page">
    <main class="container">
        <form method="POST">
            {% csrf_token %} 
          <h1 class="h3 mb-3 fw-normal">Кіру</h1>
      
          <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="floatingUsername">
            <label for="floatingUsername">Пайдаланушы аты</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Құпиясөз</label>
          </div>
      
          <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Кіру</button>
        </form>

        <div id="alertMsgContainer"></div>
      </main>
</div>
{% endblock bodyContent %}


{% comment %} JS ↓ {% endcomment %}
{% block externalJS %}
<script>
    const msg = "{{msg}}";
    const msg_type = detectionResponseCodeType(Number("{{code}}"));

    if (msg) {
        showAlert(msg, msg_type);
    }
</script>
{% endblock externalJS %}
