{% extends 'base.html' %} 

{% block title %}Тіркеу - FM Studio{% endblock title %}

{% load static %} 

{% comment %} CSS ↓ {% endcomment %}
{% block externalCSS %}
<link rel="stylesheet" href="{% static 'style/user/auth/common.css' %}">
{% endblock externalCSS %} 


{% comment %} HTML ↓ {% endcomment %}
{% block bodyContent %}
<div class="reg-page">
    <main class="container">
        <form method="POST">
            {% csrf_token %} 
          <h1 class="h3 mb-3 fw-normal">Тіркеу</h1>
      
          <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control" id="floatingUsername">
            <label for="floatingUsername">Пайдаланушы аты</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Құпиясөз</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select py-0">
                <option value="0">Әйел</option>
                <option value="1">Ер</option>
              </select>
          </div>
          <div class="form-floating mb-3">
            <input type="date" name="birthday" class="form-control" id="floatingBirthday" placeholder="Password">
            <label for="floatingBirthday">Туылған күн</label>
          </div>
      
          <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Тіркеу</button>
        </form>
      </main>
</div>
{% endblock bodyContent %}


{% comment %} JS ↓ {% endcomment %}
{% block externalJS %}

{% endblock externalJS %}
